extends _layout
block content
	// блок с видео
	.video__wrapper
		.video__block
			video.video__player(loop autoplay muted)
				source(src="video/video.mp4" type="video/mp4")
				source(src="video/video.webm" type="video/webm")
				source(src="video/video.ogg" type="video/ogg")
	// конец блока с видео
	.container-fluid
		.content
			.content-top
				// хлебные крошки
				.breadcrumbs
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#!") Главная страница
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#!") Корзина
				// конец хлебные крошки
				h1.title Корзина
			.basket__section
				// блок с формой
				.basket-form
					.basket-form__inner
						p.basket-form__text Итого к оплате:
						p.basket-form__price(replaced-number item-total) 12529
						span.rubl a
						br
						.basket-form__line
							p.basket-form__title Для отправки заказа
						.basket-form__user.margin-bottom-10
							a.basket-form__link.fancybox.enter(href="#enter")
								span Войдите в свой личный<br>кабинет
							.basket-form__line.text-center
								p.basket-form__center-text или
							a.basket-form__link.fancybox.registration(href="#registration")
								span Зарегистрируйтесь на<br>сайте
				// конец блок с формой
				// содержание заказа
				.basket-table
					table.basket-table__table
						thead
							tr
								th.basket-table__title 
									span.basket-table__title-content товары
								th.basket-table__title 
									span.basket-table__title-content цена
								th.basket-table__title 
									span.basket-table__title-content количество
								th.basket-table__title 
									span.basket-table__title-content сумма
								th.basket-table__title 
									span.basket-table__title-content 
						tbody
							- for (i = 1; i<=2; ++i) {
								tr(item-parent)
									td.basket-table__cell
										a.basket-table__goods-img-wrapper(href="#!")
											img.basket-table__goods-img(src="img/content/g"+i+".jpg", alt="")
										.basket-table__goods-description		
											p.basket-table__goods-name Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, sequi!
											a.basket-table__goods-category(href="#!") Жидкости
									td.basket-table__cell
										p.basket-table__price(replaced-number item-cost="#{480 * i + 10}") #{480 * i + 10}
										span.rubl a
									td.basket-table__cell
										.basket-table__quantity-wrap
											button.basket-table__changer.minus(type="button" data-val="-1" item-changer)
											input.basket-table__quantity(type="text" readonly value="1" item-max-val="#{i}" item-val)
											button.basket-table__changer.plus(type="button" data-val="1" item-changer)
									td.basket-table__cell
										p.basket-table__price(replaced-number item-total-cost="#{480 * i + 10}") #{480 * i + 10}
										span.rubl a
									td.basket-table__cell
										span.basket-table__remove(item-delete)
							- }
				// конец содержания заказа
