extends _layout
block content
	// блок с видео
	.video__wrapper
		.video__block
			video.video__player(loop autoplay muted)
				source(src="video/video.mp4" type="video/mp4")
				source(src="video/video.webm" type="video/webm")
				source(src="video/video.ogg" type="video/ogg")
	// конец блока с видео
	.container-fluid
		.sidebar.clearfix
			// фильтр
			script.
				$(function(){
					
					var min = $('[range-min]'),
						max = $('[range-max]');
					
					// слайдер цены
					$("#price-range").slider({
						range: true,
						min: 1,
						max: 10000,
						step: 100,
						values: [2000, 6000],
						slide: function(event, ui) {
							$(this).parents('[range-parent]').find(min).val(ui.values[ 0 ]);
							$(this).parents('[range-parent]').find(max).val(ui.values[ 1 ]);
						}
					});

					// слайдер объема
					$("#volume-range").slider({
						range: true,
						min: 100,
						max: 400,
						step: 1,
						values: [100, 400],
						slide: function(event, ui) {
							$(this).parents('[range-parent]').find(min).val(ui.values[ 0 ]);
							$(this).parents('[range-parent]').find(max).val(ui.values[ 1 ]);
						}
					});
					
					// слайдер креп
					$("#strength-range").slider({
						range: true,
						min: 10,
						max: 100,
						step: 1,
						values: [10, 100],
						slide: function(event, ui) {
							$(this).parents('[range-parent]').find(min).val(ui.values[ 0 ]);
							$(this).parents('[range-parent]').find(max).val(ui.values[ 1 ]);
						}
					});

					min.on('keyup', function() {
						$(this).parents('[range-parent]').find('[range]').slider("values", 0, $(this).val());
					});

					max.on('keyup', function() {
						$(this).parents('[range-parent]').find('[range]').slider("values", 1, $(this).val());
					});


				});
			.filter
				.filter__block
					// форма
					form(action="#")
						// слайдер и инпуты
						p.filter__title.filter__title-price Цена
						.filter__range-block(range-parent)
							.filter__range#price-range(range)
							input.form-input.filter__input(type="text" only-numbers value="2000" range-min)
							span.rubl a
							span.filter__line
							input.form-input.filter__input(type="text" only-numbers value="6000" range-max)
							span.rubl a
						// конец слайдер и инпуты
						// чекбоксы
						p.filter__title.filter__title-brand Бренды
						.filter__range-block
							- for (i = 0; i < 10; i++) {
								input.filter__checkbox(type="checkbox" id="checkbox_#{i}")
								label.filter__label(for="checkbox_#{i}") Бренд #{i}
							- }
							a.filter__more-link(href="#!") Показать еще 117 брендов
						// конец чекбоксы
						p.filter__title.filter__title-taste Вкусы
						.filter__range-block
							- for (i = 0; i < 5; i++) {
								input.filter__checkbox(type="checkbox" id="checkbox_1#{i}")
								label.filter__label(for="checkbox_1#{i}") Вкус #{i}
							- }
						p.filter__title.filter__title-volume объем
						.filter__range-block(range-parent)
							.filter__range#volume-range(range)
							input.form-input.filter__input(type="text" only-numbers range-min value="100")
							span.filter__value мл
							span.filter__line
							input.form-input.filter__input(type="text" only-numbers range-max value="400")
							span.filter__value мл
						p.filter__title.filter__title-strength КРЕПОСТЬ
						.filter__range-block(range-parent)
							.filter__range#strength-range(range)
							input.form-input.filter__input(type="text" only-numbers range-min value="10")
							span.filter__value мг
							span.filter__line
							input.form-input.filter__input(type="text" only-numbers range-max value="100")
							span.filter__value мг
						button.form-btn.filter__btn(type="submit") Примeнить все фильтры
			// конец фильтра
			// форма подписки
			.subscribe__block
				p.subscribe__title подписка на акции
				p.subscribe__text Получите специальные предложение и акций первыми!
				form.subscribe__form(action="#")
					input.form-input.subscribe__input(type="email" required placeholder="Введите e-mail")
					button.form-btn.subscribe__btn(type="submit") Подписаться
			// конец формы подписки
		.content.sidebar-margin
			.content-top
				// хлебные крошки
				.breadcrumbs
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#!") Главная страница
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#!") Жидкости
				// конец хлебные крошки
				h1.title.title-category Жидкости
			// фильтр с селектом
			.filter__sort
				.filter__sort-block.pull-right
					p.filter__text Сортировка товаров:
					select.filter__sort-select
						option(value="По возрастанию цены") По возрастанию цены
						option(value="По Убыванию цены") По Убыванию цены
						option(value="От А до Я") От А до Я
				p.filter__text Подобрано по критериям
				a.filter__result-item-link(href="#!") 312 товаров
			// конец филтра с селектом
			// секция с товарами 
			.goods__section.margin-bottom-40
				.goods-body.goods-body__one-row-four-items.goods-body__last-four-none
					- for (var i = 0; i < 16; ++i) {
						.goods-body__item
							.goods-body__wrapper
								img.goods-body__img(src="img/content/g3.jpg", alt="")
								.goods-body__price-block
									span.goods-body__price(replaced-number) #{500 * i / 2 + 50}
									span.rubl a
							.goods-body__description
								p.goods-body__name TRUEBERRY SUGAR & KNIFE
								p.goods-body__category Жидкость
								a.btn.goods-body__cart-btn(href="#!") в корзину
								a.btn.goods-body__detail-btn(href="#!") детали
					-	}
			// конец секции с товарами
			// пагинация
			.pagination
				ul.pagination__list
					- for (var i = 1; i < 8; ++i) {
						- if (i == 1) {
							li.pagination__item
								span.pagination__link.active #{i}
						- } else if (i == 4) {
							li.pagination__item
								span.pagination__dots ...
						- } else {
							li.pagination__item
								a.pagination__link(href="#!") #{i}
						- }
					- }
			// конец пагинации
	// описание
	.about__section.mozaik-bg
		.container-fluid
			.about__img-wrapper
				img.about__img(src="img/descr_img.png", alt="descr")
			.about-description__block
				h1.about-description__title МЫ РАССКАЖЕМ
				h2.about-description__subtitle ЖИДКОСТИ ДЛЯ ВЕЙПА
				p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
				p При создании генератора мы использовали небезызвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
				p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст.
	// описание