footer.footer
	.container-fluid
		.footer-top.clearfix
			// меню футера
			ul.menu__list.menu-footer
				each item, index in menu
					li.menu__item
						- if (index == 2) {
							a.menu__link.active(href="#!") #{item}
						- } else {
							a.menu__link(href="#!") #{item}
						- }
			// конец меню футера
			// email
			.footer-top__email-block.pull-right
				a.footer-top__email(href="mailto:#{email}") #{email}
			// конец email
			// график работы
			p.footer-top__work-text.pull-right Принимаем звонки<br>с 9:00 по 22:00
			// конец графика работы
			p.footer-top__phone #{phone}
		.footer-bottom.clearfix
			// копирайт
			.pull-left
				img.footer-bottom__img(src="img/footer_logo.png", alt="")
				p.footer-bottom__copyright Все права защищенны<br>“VapeStolitsa” 2016
			// конец копирайт
			// разработчик
			.pull-right
				a.footer__development(href="http://www.studio-maximus.com/")
			//конец разрботчик
include _script