header.header
	// header верхний блок
	.header-top-block
		.container-fluid
			// лого
			.header__logo-block
				a.header__logo(href="/")
					img(src="img/logo.png" alt="Site Logo")
			// конец лого
			nav.header__block-inner
				// меню хедера
				ul.menu__list.menu-header
					each item, index in menu
						li.menu__item
							- if (index == 2) {
								span.menu__link.active #{item}
							- } else {
								a.menu__link(href="#!") #{item}
							- }
				// конец меню хедера
				// email
				.header-top-block__email-block.pull-right
					a.header-top-block__email(href="mailto:#{email}") #{email}
				// конец email
				// график работы
				p.header-top-block__work-text.pull-right Принимаем звонки<br>с 9:00 по 22:00
				// конец графика работы
				p.header-top-block__phone #{phone}
	// конец header верхний блок
	// средний блок header
	.header-middle-block
		.container-fluid
			.header__block-inner
				// форма поиска
				.search-form
					form(action="#")
						input.form-input.search-form__input(type="text" required placeholder="Введите название или артикул товара")
						button.form-btn.search-form__btn(type="submit") Найти
					// умный поиск (срабатывает при наборе в поиске от 3х символов)
					.smart-result__block
						// ответ когда нет результатов
						//- .text-center Поиск результатов не дал
						// конец
						// результат поиска
						.smart-result__item
							a(href="#!")
								img.smart-result__img(src="img/content/g2.jpg", alt="")
							.smart-result__description
								a.smart-result__title(href="#!") SOUR VAPE WICKED WATERMELON 30 МЛ 
								a.smart-result__category(href="#!") Жидкости
						// конец результата поиска
						.smart-result__item
							a(href="#!")
								img.smart-result__img(src="img/content/g3.jpg", alt="")
							.smart-result__description
								a.smart-result__title(href="#!") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, placeat.
								a.smart-result__category(href="#!") Жидкости
					// конец умный поиск
				// конец формы поиска
				// блок пользователя
				.user__block
					// если пользователь залогинен
					img.user__img(src="img/content/link-ava.jpg", alt="")
					a.user__link.user__link-login(href="#!") HelloKing
					// выпадающее меню пользователя
					.user__drop-down
						.user__drop-down-item
							a.user__drop-down-link.profile(href="#!") Профиль
						.user__drop-down-item
							a.user__drop-down-link.exit(href="#!") Выйти
					// конец выпадающего меню пользователя
					// конец залогиненного блока пользователя
					//a.user__link.user__link-enter.fancybox(href="#enter") Вход
					a.user__link.user__link-registration.fancybox(href="#registration") Регистрация
				// конец блока пользователя
				// корзина
				.basket.pull-right
					a(href="#!")
						.basket__img-block
							span.basket__quantity 15
					.basket__line
						a.basket__link(href="#!") <span class="basket__link-quantity">2</span> товара
						span  на 
						span.basket__price(replaced-number) 23500
						span.rubl a
				// конец корзины
	// конец среднего блока
	// нижний блок header
	.header-bottom-block
		.container-fluid
			.header__block-inner
				// блок с категориями
				.category
					// категория
					a.category__link(href="#")
						img.category__img(src="img/c1.png", alt="Category img")
						.category__description
							p.category__title готовые наборы
							br
							p.category__quantity
								| 32
								span  продукта
					// конец категории
					a.category__link(href="#")
						img.category__img(src="img/c2.png", alt="Category img")
						.category__description
							p.category__title жидкости
							br
							p.category__quantity
								| 3
								span  продукта
					a.category__link.active(href="#")
						img.category__img(src="img/c3.png", alt="Category img")
						.category__description
							p.category__title девайсы
							br
							p.category__quantity
								| 322
								span  продукта
					a.category__link(href="#")
						img.category__img(src="img/c4.png", alt="Category img")
						.category__description
							p.category__title атомайзеры
							br
							p.category__quantity
								| 32
								span  продукта
					a.category__link(href="#")
						img.category__img(src="img/c5.png", alt="Category img")
						.category__description
							p.category__title аксессуары
							br
							p.category__quantity
								| 32
								span  продукта
				// конец блока с категориями
	//конец нижнего блока header